.restaurant-list {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.card {
    margin: 20px;
    height: 250px;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    font-size: 14px;
    font-family: "OpenSans-Regular";
}

.buttons-panel {
    width: 240px;
    padding-bottom: 10px;
    .button {
        background-color: white;
        border: none;
        // margin: 4px;
        cursor: pointer;
    }
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
    align-items: center;
}