body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
  }

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hide {
  display: none;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

  /* MEDIA QUERIES */
  @media (max-width: 760px) {
    .load-btns {
      flex-direction: column;
    }

    .app-button {
      margin-top: 15px;
    }
  }